*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Coolvetica', sans-serif;
}

header{
    width: 100%;
    height: auto;
    padding: 20px 10px;
    text-align: center;
}

header h1{
    font-weight: 300;
}

.line-division{
    height: 2px;
    width: 100%;
    background-color: white;
}

.background-site{
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.botao-login-cadastro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 65px;
    width: 650px;
    margin: 40px auto;
    
}

.botao-login-cadastro .botao-login{
    background-color: white;
}

.botao-login-cadastro .botao-cadastro{
    background-color: #FF725E;
    
}

.botao-login-cadastro .login-redirecionar a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.botao-login-cadastro .login-redirecionar a:hover{
    text-decoration: underline;
    color: red;
}

.botao-login-cadastro .botao-login, .botao-login-cadastro .botao-cadastro{
    border: none;
    border-radius: 58px;
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    width: 300px;
    height: 65px;
}


.formulario-cadastro{
    display: flex;
    height: 100vh;
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.8); 
    margin: 10px auto;
    border-radius: 38px;
    
}

.form-cadastro__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /*position: relative;*/
}

.form-cadastro__content .campo-formulario{
     margin: 15px 0 10px 45px;
    /*position: absolute;*/
    /*margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px;*/
}


.campo-formulario label, .campo-formulario input{
    display: block;
}

.campo-formulario input{
    background-color: #FF9898;
    font-size: 20px;
    width: 700px ;
    height: 40px;
    border: none;
    border-radius: 58px;
    padding: 0 100px 0 12px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
.campo-formulario label{
    font-size: 22px;
    font-weight: 500;
    margin-left: 10px;
}

.botao-enviar-formulario{
    font-size: 25px;
    height: 100px;
    width: 300px;
    background-color: #F51B1B;
    border: none;
    border-radius: 25px;
    padding: 20px 10px;
    margin: 30px auto;
}


.link-contato{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #FF9898;
}

.link-contato .contatos{
    display: flex;
    justify-content: space-between;
}

.contatos img{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.texto-footer{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.texto-footer p{
    font-size: 20px;
}

.texto-footer a{
    text-align: end;
    font-size: 16px;
    text-decoration: none;
    color: black;

}

.texto-footer a:hover{
    color: #F51B1B;
    text-decoration: underline;
}